
.about-page {
  background-image: url(../../assets/about//about-bg.png);
  background-attachment: fixed;
  background-size: cover;

  .padding {
    padding: 300px;
  }
  .about {
    background-color: rgba(255, 255, 255, 0.692);
    padding: 100px;
    color: rgb(80, 79, 79);
    p {
      line-height: 2rem;
    }
  }
}
